form.apiform{
	display: table;
	width: 100%;
	padding:10px;
}
.apiform span{
    display: table-row;
}
.apiform label, input, textarea {
	display: table-cell;
	margin-bottom: 10px;
    font-size:12pt;
}
.apiform label, input{
    height:20px;
	width: 90%;
}
.apiform label {
	padding-right: 10px;
	width: 120px;
	white-space: nowrap;
}
.apform input, textarea, div.editor {
	color: text;
	background-color: -webkit-control-background;
	margin-top: 0em;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	font-variant-caps: normal;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
}
